<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aha.tech.repository.dao.readwrite.UserMapper">
    <resultMap id="BaseResultMap" type="com.aha.tech.model.entity.UserEntity">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="model" open="" close="" separator=";">
            UPDATE t_user SET name = #{model.name} WHERE user_id = #{model.userId}
        </foreach>
    </update>

</mapper>